.price {
    display: grid;
    grid-gap: 3rem;
    grid-template-areas:
        "area_1 area_1 area_1"
        "area_2 area_2 area_2"
        "area_3 area_3 area_3"; 

    grid-template-columns: auto auto auto;
    grid-template-rows: 100px 100vh 50px;
}
.area_1_conteudo {
    grid-area: area_1;


}
.area_2_conteudo {
    grid-area:area_2;
    background-color: rgba(27, 199, 119, 0.326); 
  
}
.area_3_conteudo {
    grid-area: area_3;
    background-color: rgba(39, 145, 168, 0.326); 
}

.title {
    color: rgb(81, 171, 81);
}
.sub-title {
    color: rgba(190, 196, 37, 0.932);
}
.area_2, .area_3 {
color: gray
}
/*.sing-up {
   /* background-color: rgba(190, 196, 37, 0.932);
    color: rgb(249, 249, 249);
    font-size: 18px;
    width: 300px;
    font-display: bold; 
}*/
