.title {
    color: rgb(81, 171, 81);
}
.sub-title {
    color: rgba(190, 196, 37, 0.932);
}
.text{
color: gray
}
.sing-up {
    background-color: rgba(190, 196, 37, 0.932);
    color: rgb(249, 249, 249);
    font-size: 18px;
    width: 300px;
    font-display: bold;
}
.grid-2 {
    background-color: rgba(9, 162, 196, 0.326);
}
.price {
    text
}